<!DOCTYPE html>
<html lang="en" ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="LoginController as loginCtrl">
    <div class="container">
        <h2>Login</h2>
        <form ng-submit="loginCtrl.login()">
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="loginCtrl.username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="loginCtrl.password" required><br>
            <button type="submit">Login</button>
        </form>
        <div ng-if="loginCtrl.errorMessage" class="error">{{loginCtrl.errorMessage}}</div>
    </div>
</body>
</html>
